root = true

[*]
charset = utf-8
end_of_line = crlf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

[*.{cs,vb}]
dotnet_sort_system_directives_first = true
csharp_style_expression_bodied_methods = true:suggestion
csharp_new_line_before_members_in_object_initializers = true
csharp_space_after_keywords_in_control_flow_statements = true

[*.{xml,config,*proj,nuspec,props,resx,targets,yml,tasks}]
indent_size = 2

[*.json]
indent_size = 2

[*.{md,markdown}]
trim_trailing_whitespace = false
max_line_length = off
